## Hyphoteses

1. ¿Cuales son los 3/4/5 paises donde  hay más muertes por ataques de tiburones?
2. ¿En que estación del año hay más muertes por ataques de tiburones según estos paises?
3. ¿En estos países, cuales son las actividades en las que hay más muertos por ataques de tiburon?

## Data Cleaning

In [62]:
#IMPORTAR LIBRERIAS 
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt 
import re

In [63]:
path = 'C:/Users/manya/Documents/Ironhack/Course/Project-1/data/attacks.csv'
df = pd.read_csv (path, encoding="cp1252")

In [64]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [65]:
df

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Columnas que seguro que borro del df ya que no son relevantes para mi análisis son: 
- Investigator or Source 
- pdf
- 'Unnamed: 22' y 'Unnamed: 23' ya que la mayoria son valores nulos 
- href
- href formula 
- Name
- Age
- Case Number.1 y Case Number.2 -- ya que ya tengo el case number.1
- Type
- Time
- Original order


Explorar con más atención injury e species por si quiero hacer alguna hipotesis más.

In [66]:
df.drop(columns = ['Unnamed: 22', 'Unnamed: 23', 'Case Number.1', 'Case Number.2','href', 'href formula', 'pdf', 'Investigator or Source', 'Name', 'Age', 'Type', 'original order', 'Time','Area', 'Injury','Location','Sex ','Species '],inplace = True)

In [67]:
df

      Case Number         Date    Year    Country     Activity Fatal (Y/N)
0      2018.06.25  25-Jun-2018  2018.0        USA     Paddling           N
1      2018.06.18  18-Jun-2018  2018.0        USA     Standing           N
2      2018.06.09  09-Jun-2018  2018.0        USA      Surfing           N
3      2018.06.08  08-Jun-2018  2018.0  AUSTRALIA      Surfing           N
4      2018.06.04  04-Jun-2018  2018.0     MEXICO  Free diving           N
...           ...          ...     ...        ...          ...         ...
25718         NaN          NaN     NaN        NaN          NaN         NaN
25719         NaN          NaN     NaN        NaN          NaN         NaN
25720         NaN          NaN     NaN        NaN          NaN         NaN
25721         NaN          NaN     NaN        NaN          NaN         NaN
25722          xx          NaN     NaN        NaN          NaN         NaN

[25723 rows x 6 columns]

Hay muchos valores nulos en todas las columnas llegando a haber muchas filas con todo de valores nulos que no me aportan información. Por lo que dropeo todas las filas que tengan menos de 3 valores no nulos (7 nan) para hacer una primera limpieza.

In [68]:
df.isna ().sum()

Case Number    17021
Date           19421
Year           19423
Country        19471
Activity       19965
Fatal (Y/N)    19960
dtype: int64

In [69]:
df.dropna (thresh = 3, inplace = True)
df.sample(20)

,Case Number,Date,Year,Country,Activity,Fatal (Y/N)
5153,1926.03.17,17-Mar-1926,1926.0,AUSTRALIA,Swimming,Y
1071,2009.11.16.b,16-Nov-2009,2009.0,USA,Fishing,N
5278,1918.11.00.a,Nov-1918,1918.0,SAN DOMINGO,Steamer Una wrecked with 75 laborers onboard. ...,Y
5727,1888.07.20.R,Reported 20-Jul-1888,1888.0,JAMAICA,Probabable drowning,NaN
521,2014.08.05,05-Aug-2014,2014.0,USA,Swimming,N
2167,1998.08.30,30-Aug-1998,1998.0,USA,Surfing,N
3179,1976.07.16,16-Jul-1976,1976.0,USA,Scuba diving,Y
5145,1926.08.24,24-Aug-1926,1926.0,USA,Swimming,Y
6148,1764.00.00,1764,1764.0,SPAIN,Swimming,Y
2765,1987.10.11,11-Oct-1987,1987.0,SOUTH AFRICA,Spearfishing,N
2047,2000.06.19,19-Jun-2000,2000.0,USA,Standing,N
1947,2001.05.11,11-May-2001,2001.0,MADAGASCAR,NaN,NaN
2622,1990.09.15,15-Sep-1990,1990.0,SOUTH AFRICA,Spearfishing,N
3276,1974.02.00.b,Feb-1974,1974.0,SOUTH AFRICA,Fishing for red fish,N
5125,1927.07.03,03-Jul-1927,1927.0,AUSTRALIA,NaN,N
3545,1966.11.14,14-Nov-1966,1966.0,THAILAND,NaN,UNKNOWN
135,2017.06.10.a,10-Jun-2017,2017.0,USA,Surfing,N
457,2015.01.17,17-Jan-2015,2015.0,AUSTRALIA,Fishing,N
2450,1994.02.13,13-Feb-1994,1994.0,USA,Fishing,N
5401,1910.06.08.R,Reported 08-Jun-1910,1910.0,MOZAMBIQUE,"Steamer Durao struck rock & filled, boats caps...",Y

In [70]:
df.isna().sum()

Case Number      1
Date             0
Year             2
Country         50
Activity       544
Fatal (Y/N)    539
dtype: int64

Después de esta primera limpieza de columnas y filas, le doy el mismo formato a todas las etiquetas de las columnas

In [71]:
df.columns = [column.rstrip().rstrip(' (Y/N)').lower().replace(' ', '_') for column in df.columns]
df.columns

Index(['case_number', 'date', 'year', 'country', 'activity', 'fatal'], dtype='object')

### Para la hipotesis 1: columnas country y fatal

1. Dropeo los valores nulos tanto de country como fatal

In [72]:
df.dropna(subset=['country','fatal'],inplace=True)
df

     case_number         date    year             country      activity fatal
0     2018.06.25  25-Jun-2018  2018.0                 USA      Paddling     N
1     2018.06.18  18-Jun-2018  2018.0                 USA      Standing     N
2     2018.06.09  09-Jun-2018  2018.0                 USA       Surfing     N
3     2018.06.08  08-Jun-2018  2018.0           AUSTRALIA       Surfing     N
4     2018.06.04  04-Jun-2018  2018.0              MEXICO   Free diving     N
...          ...          ...     ...                 ...           ...   ...
6297     ND.0005  Before 1903     0.0           AUSTRALIA        Diving     Y
6298     ND.0004  Before 1903     0.0           AUSTRALIA  Pearl diving     Y
6299     ND.0003    1900-1905     0.0                 USA      Swimming     Y
6300     ND.0002    1883-1889     0.0              PANAMA           NaN     Y
6301     ND.0001    1845-1853     0.0  CEYLON (SRI LANKA)      Swimming     Y

[5718 rows x 6 columns]

In [73]:
df.isna().sum()

case_number      1
date             0
year             1
country          0
activity       412
fatal            0
dtype: int64

2. Limpio los valores de la columna fatal

In [74]:
df.fatal.unique()

array(['N', 'Y', 'M', 'UNKNOWN', '2017', ' N', 'N ', 'y'], dtype=object)

In [75]:
#Cambio todos los valores por mayusculas y sin espacios
#Dropeo del data frame todos los valores que sean '2017', 'M' o 'UNKNOWN'

df.fatal = df.fatal.apply (lambda i: i.lstrip().rstrip().upper()) 
df = df.drop(df[(df['fatal'] == '2017') | (df['fatal'] == 'M') | (df['fatal'] == 'UNKNOWN')].index)


2. Limpio columna country: 
    - Todos los países en mayuscula
    - Borrar si la string contiene OCEAN, PACIFIC, SEA, AFRICA, ASIA ya que no es un país
    - Borrar los ? de una string. Ej: RED SEA?
    - Borrar si la string contiene Between
    - UNITED ARAB EMIRATES (UAE) quedarme con UNITED ARAB EMIRATES 
    - rstrip y lstrip por si acaso

In [76]:
df.country.unique()

array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'ENGLAND', 'SOUTH AFRICA',
       'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS', 'NEW CALEDONIA',
       'ECUADOR', 'MALAYSIA', 'LIBYA', 'CUBA', 'MAURITIUS', 'NEW ZEALAND',
       'SPAIN', 'SAMOA', 'SOLOMON ISLANDS', 'JAPAN', 'EGYPT',
       'ST HELENA, British overseas territory', 'REUNION',
       'FRENCH POLYNESIA', 'UNITED KINGDOM', 'UNITED ARAB EMIRATES',
       'PHILIPPINES', 'INDONESIA', 'CHINA', 'COLUMBIA', 'Fiji',
       'DOMINICAN REPUBLIC', 'ARUBA', 'MOZAMBIQUE', 'FIJI', 'PUERTO RICO',
       'ATLANTIC OCEAN', 'GREECE', 'ST. MARTIN', 'FRANCE',
       'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL',
       'DIEGO GARCIA', 'TAIWAN', 'PALESTINIAN TERRITORIES', 'GUAM',
       'SEYCHELLES', 'BELIZE', 'JAMAICA', 'NIGERIA', 'TONGA', 'SCOTLAND',
       'CHILE', 'KENYA', 'RUSSIA', 'TURKS & CAICOS', 'AZORES',
       'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR',
       'UNITED ARAB EMIRATES (UAE)', 'PANAMA', 'SOMALIA', 'CROATIA',
       'NORWAY', 'YEMEN', 'GULF OF ADEN', 'ITALY', 'Sierra Leone',
       'ST. MAARTIN', 'GRAND CAYMAN', 'VANUATU', 'MEXICO ', 'VENEZUELA',
       ' TONGA', 'URUGUAY', 'INDIA', 'MICRONESIA', 'CARIBBEAN SEA',
       'CANADA', 'OKINAWA', 'TANZANIA', 'MARSHALL ISLANDS', 'SENEGAL',
       'EGYPT / ISRAEL', 'NORTHERN ARABIAN SEA', 'HONG KONG',
       'EL SALVADOR', 'ANGOLA', 'IRAN', 'TUNISIA', 'NAMIBIA', 'BERMUDA',
       'NORTH ATLANTIC OCEAN', 'PORTUGAL', 'SOUTH CHINA SEA',
       'BANGLADESH', 'PALAU', 'WESTERN SAMOA', 'PACIFIC OCEAN ',
       'BRITISH ISLES', 'GRENADA', 'SRI LANKA', 'IRAQ', 'TURKEY',
       'SINGAPORE', 'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND',
       'SOUTH PACIFIC OCEAN', 'NEW GUINEA', 'RED SEA',
       'NORTH PACIFIC OCEAN', 'FEDERATED STATES OF MICRONESIA',
       'MID ATLANTIC OCEAN', 'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES',
       'SOUTH ATLANTIC OCEAN', 'PERSIAN GULF', 'RED SEA / INDIAN OCEAN',
       'PACIFIC OCEAN', 'NORTH SEA', 'NICARAGUA ', 'MALDIVE ISLANDS',
       'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS', 'GABON', 'MAYOTTE',
       'NORTH ATLANTIC OCEAN ', 'MONTENEGRO', 'THE BALKANS', 'SUDAN?',
       'ARGENTINA', 'MARTINIQUE', 'INDIAN OCEAN', 'NETHERLANDS ANTILLES',
       'LIBERIA', 'SAUDI ARABIA', 'NORTHERN MARIANA ISLANDS',
       'IRAN / IRAQ', 'JAVA', 'SIERRA LEONE', ' PHILIPPINES', 'NICARAGUA',
       'CENTRAL PACIFIC', 'SOLOMON ISLANDS / VANUATU',
       'SOUTHWEST PACIFIC OCEAN', 'BAY OF BENGAL', 'MID-PACIFC OCEAN',
       'SLOVENIA', 'CURACAO', 'ICELAND', 'BARBADOS', 'CAPE VERDE',
       'HONDURAS', 'MONACO', 'GUYANA', 'HAITI', 'SAN DOMINGO', 'IRELAND',
       'KUWAIT', 'YEMEN ', 'REUNION ISLAND', 'FALKLAND ISLANDS', 'CRETE',
       'CYPRUS', 'EGYPT ', 'WEST INDIES', 'BURMA', 'LEBANON', 'PARAGUAY',
       'BRITISH NEW GUINEA', 'CEYLON', 'OCEAN', 'GEORGIA', 'TUVALU',
       'INDIAN OCEAN?', 'GUINEA', 'ANDAMAN ISLANDS',
       'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'TOBAGO', 'PERU',
       'AFRICA', 'ALGERIA', 'Coast of AFRICA', 'TASMAN SEA', 'GHANA',
       'GREENLAND', 'MEDITERRANEAN SEA', 'Between PORTUGAL & INDIA',
       'DJIBOUTI', 'BAHREIN', 'KOREA', 'RED SEA?', 'ASIA?',
       'CEYLON (SRI LANKA)'], dtype=object)

In [77]:
df['country']= df['country'].apply (lambda i: i.lstrip().rstrip().upper()) #Mismo formato para todas las strings

In [78]:
discard = ['OCEAN','PACIFIC','MEDITERRANEAN','RED','BETWEEN','AFRICA','ASIA','/','GULF','NORTHERN ARABIAN','THE BALKANS','NORTH SEA','TASMAN','SOUTH CHINA'] #Substring que quiero identificar  
df = df[~df.country.str.contains('|'.join(discard))] #Dropeo aquellas strings que contengan discard
df.country.unique()

array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'ENGLAND', 'THAILAND',
       'COSTA RICA', 'MALDIVES', 'BAHAMAS', 'NEW CALEDONIA', 'ECUADOR',
       'MALAYSIA', 'LIBYA', 'CUBA', 'MAURITIUS', 'NEW ZEALAND', 'SPAIN',
       'SAMOA', 'SOLOMON ISLANDS', 'JAPAN', 'EGYPT',
       'ST HELENA, BRITISH OVERSEAS TERRITORY', 'REUNION',
       'FRENCH POLYNESIA', 'UNITED KINGDOM', 'UNITED ARAB EMIRATES',
       'PHILIPPINES', 'INDONESIA', 'CHINA', 'COLUMBIA', 'FIJI',
       'DOMINICAN REPUBLIC', 'ARUBA', 'MOZAMBIQUE', 'PUERTO RICO',
       'GREECE', 'ST. MARTIN', 'FRANCE', 'PAPUA NEW GUINEA',
       'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL', 'DIEGO GARCIA',
       'TAIWAN', 'PALESTINIAN TERRITORIES', 'GUAM', 'SEYCHELLES',
       'BELIZE', 'JAMAICA', 'NIGERIA', 'TONGA', 'SCOTLAND', 'CHILE',
       'KENYA', 'RUSSIA', 'TURKS & CAICOS', 'AZORES', 'SOUTH KOREA',
       'MALTA', 'VIETNAM', 'MADAGASCAR', 'UNITED ARAB EMIRATES (UAE)',
       'PANAMA', 'SOMALIA', 'CROATIA', 'NORWAY', 'YEMEN', 'ITALY',
       'SIERRA LEONE', 'ST. MAARTIN', 'GRAND CAYMAN', 'VANUATU',
       'VENEZUELA', 'URUGUAY', 'INDIA', 'MICRONESIA', 'CARIBBEAN SEA',
       'CANADA', 'OKINAWA', 'TANZANIA', 'MARSHALL ISLANDS', 'SENEGAL',
       'HONG KONG', 'EL SALVADOR', 'ANGOLA', 'IRAN', 'TUNISIA', 'NAMIBIA',
       'BERMUDA', 'PORTUGAL', 'BANGLADESH', 'PALAU', 'WESTERN SAMOA',
       'BRITISH ISLES', 'GRENADA', 'SRI LANKA', 'IRAQ', 'TURKEY',
       'SINGAPORE', 'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND',
       'NEW GUINEA', 'FEDERATED STATES OF MICRONESIA',
       'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES', 'NICARAGUA',
       'MALDIVE ISLANDS', 'AMERICAN SAMOA', 'GABON', 'MAYOTTE',
       'MONTENEGRO', 'SUDAN?', 'ARGENTINA', 'MARTINIQUE',
       'NETHERLANDS ANTILLES', 'LIBERIA', 'SAUDI ARABIA',
       'NORTHERN MARIANA ISLANDS', 'JAVA', 'BAY OF BENGAL', 'SLOVENIA',
       'CURACAO', 'ICELAND', 'BARBADOS', 'CAPE VERDE', 'HONDURAS',
       'MONACO', 'GUYANA', 'HAITI', 'SAN DOMINGO', 'IRELAND', 'KUWAIT',
       'REUNION ISLAND', 'FALKLAND ISLANDS', 'CRETE', 'CYPRUS',
       'WEST INDIES', 'BURMA', 'LEBANON', 'PARAGUAY',
       'BRITISH NEW GUINEA', 'CEYLON', 'GEORGIA', 'TUVALU', 'GUINEA',
       'ANDAMAN ISLANDS', 'COOK ISLANDS', 'TOBAGO', 'PERU', 'ALGERIA',
       'GHANA', 'GREENLAND', 'DJIBOUTI', 'BAHREIN', 'KOREA',
       'CEYLON (SRI LANKA)'], dtype=object)

In [79]:
df2 = df.copy()

In [80]:
df2.country = df2.country.apply (lambda i: i.replace('UNITED ARAB EMIRATES (UAE)','UNITED ARAB EMIRATES'))
df2.country = df2.country.apply (lambda i: i.replace('SUDAN?','SUDAN'))
df2.country = df2.country.apply (lambda i: i.replace('CEYLON (SRI LANKA)','SRI LANKA'))
df2.country = df2.country.apply (lambda i: i.replace('ENGLAND','UNITED KINGDOM'))

In [81]:
df2.sample(20)

,case_number,date,year,country,activity,fatal
789,2012.06.02.a,02-Jun-2012,2012.0,USA,Boogie Boarding,N
3149,1977.04.26,26-Apr-1977,1977.0,AUSTRALIA,NaN,N
630,2013.09.01.a,01-Sep-2013,2013.0,USA,Casting a net,N
4566,1947.11.08.a,08-Nov-1947,1947.0,AUSTRALIA,Swimming,N
31,2018.04.10.R,Reported 10-Apr-2018,2018.0,BRAZIL,Fishing,N
1029,2010.05.03,03-May-2010,2010.0,MADAGASCAR,Scuba diving,N
4223,1956.12.24,24-Dec-1956,1956.0,PAPUA NEW GUINEA,Spearfishing,Y
4505,1949.08.16,16-Aug-1949,1949.0,AUSTRALIA,Swimming near shore,N
6077,1837.01.17,17-Jan-1837,1837.0,AUSTRALIA,Washing his feet,Y
249,2016.07.08.R,Reported 08-Jul-2016,2016.0,SPAIN,Wading,N
2199,1998.03.08.a,08-Mar-1998,1998.0,USA,Swimming or paddle boarding,N
1369,2007.06.25,25-Jun-2007,2007.0,USA,Surfing,N
6003,1855.03.28,28-Mar-1855,1855.0,AUSTRALIA,Fell overboard from the Sobella,Y
1392,2007.03.31.b,31-Mar-2007,2007.0,USA,Surfing,N
3227,1975.05.25,25-May-1975,1975.0,USA,Surfing,N
2021,2000.08.21,21-Aug-2000,2000.0,USA,Swimming out to porpoises,N
3898,1961.05.17,17-May-1961,1961.0,NEW BRITAIN,Collecting dynamited fish,N
862,2011.09.24.b,24-Sep-2011,2011.0,USA,Spearfishing,N
744,2012.09.06.a,06-Sep-2012,2012.0,USA,Surfing,N
1746,2003.09.13.a,13-Sep-2003,2003.0,USA,"Standing, stepped on shark",N

## Cuando termine de limpiar las columnas de la primera hipotesis subir a github

### Para la hipotesis 2: columna date y columnas nuevas

Para la segunda hipotesis debo:

    - Limpiar columna date: dropear los nan y todos aquellos valores que no contengan el mes 
    - Limpiar columna case_number: dropear nan, formato, los que no contengan el mes fuera
    - Crear una columna nueva donde poner los meses 
    - Hemisferio norte, hemisferio sur? Estación?

In [82]:
df2.dropna(subset=['date','case_number','year'],inplace=True)
df2

     case_number         date    year    country      activity fatal
0     2018.06.25  25-Jun-2018  2018.0        USA      Paddling     N
1     2018.06.18  18-Jun-2018  2018.0        USA      Standing     N
2     2018.06.09  09-Jun-2018  2018.0        USA       Surfing     N
3     2018.06.08  08-Jun-2018  2018.0  AUSTRALIA       Surfing     N
4     2018.06.04  04-Jun-2018  2018.0     MEXICO   Free diving     N
...          ...          ...     ...        ...           ...   ...
6297     ND.0005  Before 1903     0.0  AUSTRALIA        Diving     Y
6298     ND.0004  Before 1903     0.0  AUSTRALIA  Pearl diving     Y
6299     ND.0003    1900-1905     0.0        USA      Swimming     Y
6300     ND.0002    1883-1889     0.0     PANAMA           NaN     Y
6301     ND.0001    1845-1853     0.0  SRI LANKA      Swimming     Y

[5034 rows x 6 columns]

#### Columna case_number

In [83]:
type(df2.case_number[1])

str

In [84]:
df2.case_number.value_counts()

1990.05.10      2
1907.10.16.R    2
1920.00.00.b    2
2013.10.05      2
1980.07.00      2
               ..
2001.04.11.d    1
2001.04.12.a    1
2001.04.12.b    1
2001.04.12.c    1
ND.0001         1
Name: case_number, Length: 5023, dtype: int64

In [85]:
#Remove suffix .letra usando regex, pj.ej: 2001.04.11.d transformar a 2001.04.11
df2['case_number']=df2['case_number'].str.replace(r'\.\w$', '', regex=True)
df2

     case_number         date    year    country      activity fatal
0     2018.06.25  25-Jun-2018  2018.0        USA      Paddling     N
1     2018.06.18  18-Jun-2018  2018.0        USA      Standing     N
2     2018.06.09  09-Jun-2018  2018.0        USA       Surfing     N
3     2018.06.08  08-Jun-2018  2018.0  AUSTRALIA       Surfing     N
4     2018.06.04  04-Jun-2018  2018.0     MEXICO   Free diving     N
...          ...          ...     ...        ...           ...   ...
6297     ND.0005  Before 1903     0.0  AUSTRALIA        Diving     Y
6298     ND.0004  Before 1903     0.0  AUSTRALIA  Pearl diving     Y
6299     ND.0003    1900-1905     0.0        USA      Swimming     Y
6300     ND.0002    1883-1889     0.0     PANAMA           NaN     Y
6301     ND.0001    1845-1853     0.0  SRI LANKA      Swimming     Y

[5034 rows x 6 columns]

Creo una nueva columna que chequea si los valores de la columna case_number tienen el formato xxxx.xx.xx y contienen el mes

In [86]:
def check_format_case (x):
    check = 0
    if re.search ('^\d{4}.\d{2}.\d{2}', str(x)) and str(x)[5:7] != '00': #busca si el valor de la columna df.case_number tiene este patron de regex
        check = True 
    else:
        check = False
    return check #Devuelves check que es lo que quieres aplicar ala nueva columna
        
df2['case_check'] = df2['case_number'].apply(check_format_case) #Aplicas esta función a cada uno de los valores de la column case que se añadira en la nueva columna

In [87]:
df2.loc[4351]

case_number    1954.00.00
date                 1954
year               1954.0
country              IRAN
activity              NaN
fatal                   Y
case_check          False
Name: 4351, dtype: object

#### Columna date

In [88]:
def check_format_date (x):
    check = 0
    if re.search ("^\s*\d{1,2}-\w{3,}-\d{2,4}", x): #busca si el valor de la columna df.date tiene este patron de regex
        check = True 
    else:
        check = False
    return check #Devuelves check que es lo que quieres aplicar ala nueva columna
        
df2['date_check'] = df2['date'].apply(check_format_date) #Aplicas esta función a cada uno de los valores de la column date que se añadira en la nueva columna

In [89]:
df2

,case_number,date,year,country,activity,fatal,case_check,date_check
0,2018.06.25,25-Jun-2018,2018.0,USA,Paddling,N,True,True
1,2018.06.18,18-Jun-2018,2018.0,USA,Standing,N,True,True
2,2018.06.09,09-Jun-2018,2018.0,USA,Surfing,N,True,True
3,2018.06.08,08-Jun-2018,2018.0,AUSTRALIA,Surfing,N,True,True
4,2018.06.04,04-Jun-2018,2018.0,MEXICO,Free diving,N,True,True
...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,AUSTRALIA,Diving,Y,False,False
6298,ND.0004,Before 1903,0.0,AUSTRALIA,Pearl diving,Y,False,False
6299,ND.0003,1900-1905,0.0,USA,Swimming,Y,False,False
6300,ND.0002,1883-1889,0.0,PANAMA,NaN,Y,False,False
6301,ND.0001,1845-1853,0.0,SRI LANKA,Swimming,Y,False,False

No quiero perder rows que contengan month, ya sea que lo tengan en la columna date o la columna case_number.

    - Mantener filas si TRUE en case_check y date_check 
    - Dropear filas si FALSE en case_check y date_check
    - Si una fila tiene TRUE en alguna de las dos y FALSE en la otra, revisar el contenido

In [90]:
df2 = df2.drop(df2[(df2['case_check'] == False) & (df2['date_check'] == False)].index)
df2

,case_number,date,year,country,activity,fatal,case_check,date_check
0,2018.06.25,25-Jun-2018,2018.0,USA,Paddling,N,True,True
1,2018.06.18,18-Jun-2018,2018.0,USA,Standing,N,True,True
2,2018.06.09,09-Jun-2018,2018.0,USA,Surfing,N,True,True
3,2018.06.08,08-Jun-2018,2018.0,AUSTRALIA,Surfing,N,True,True
4,2018.06.04,04-Jun-2018,2018.0,MEXICO,Free diving,N,True,True
...,...,...,...,...,...,...,...,...
6150,1753.10.27,Reported 27-Oct-1753,1753.0,JAMAICA,Fell overboard,Y,True,False
6151,1751.07.27,27-Jul-1751,1751.0,USA,Swimming,Y,True,True
6156,1738.04.06,Reported 06-Apr-1738,1738.0,ITALY,Swimming,Y,True,False
6159,1721.06.00,June 1721,1721.0,ITALY,Swimming,Y,True,False
6160,1703.03.26,26-Mar-1703,1703.0,BARBADOS,Swimming,N,True,True

In [91]:
df2.case_check.unique()

array([ True])

Creo una copia del data frame donde dropeo: 
    
    - La columna date: todos los valores de case_number son TRUE por lo que ya me quedo con esta columna que contiene los meses y no hace falta que limpie la columna date
    - Las columnas case_check y date_check que ya no me hacen falta

In [92]:
df3 = df2.copy()
df3.drop (columns = ['date','date_check','case_check'], inplace = True)

#### Columna year

In [93]:
sorted(df3.year.unique())
df3 = df3[(df3['year'] >= 1918) & (df3['year'] <= 2018)]
df3

,case_number,year,country,activity,fatal
0,2018.06.25,2018.0,USA,Paddling,N
1,2018.06.18,2018.0,USA,Standing,N
2,2018.06.09,2018.0,USA,Surfing,N
3,2018.06.08,2018.0,AUSTRALIA,Surfing,N
4,2018.06.04,2018.0,MEXICO,Free diving,N
...,...,...,...,...,...
5274,1919.01.05,1919.0,AUSTRALIA,Wading (shrimping),Y
5277,1918.11.00,1918.0,USA,Fishing,Y
5278,1918.11.00,1918.0,SAN DOMINGO,Steamer Una wrecked with 75 laborers onboard. ...,Y
5279,1918.09.19,1918.0,AUSTRALIA,Bathing,Y
5280,1918.03.22,1918.0,AUSTRALIA,Surfing,N

### Months, hemisferio y estaciones del año

Como lo hago? 
- Columna area dropeo los nan
- Creo una columna month con los valores [5:7] de case_number
- Creo una columna de hemisferio segun el pais
- Creo otra columna de estación del año que me diga la estación del año según el mes y el hemisferio en el que se encuentra el país

In [94]:
#Columna month
df3['month'] = df3['case_number'].apply(lambda i: i[5:7])
df3['month'] =pd.to_numeric (df3['month'])

Error: Uso la libreria pycountry_convert para asignar a cada país su continente correspondiente para después poder facilitar la asignación de los hemisferios.

In [95]:
"""def country_to_continent(country_name): 
    country_alpha2 = pc.country_name_to_country_alpha2(country_name)
    country_continent_code = pc.country_alpha2_to_continent_code(country_alpha2)
    country_continent_name = pc.convert_continent_code_to_continent_name(country_continent_code)
    return country_continent_name
#este metodo no lo puedo hacer ya que hay países que se encuentran en el Sud América pero no son del hemisferio sur si no del norte """def country_to_continent(country_name):

SyntaxError: invalid syntax (2044839168.py, line 6)

In [ ]:
#country_to_continent (df3['country'][0])

ERROR TARDA MUCHO EN EJECTURASE: Uso la libreria geopy para que me de la latitud de cada país que pase y despues poder determinar a que hemisferio pertenece

In [ ]:
geolocator = Nominatim(user_agent="example app")
geolocator.geocode('Tuscany, italy').point #You get the latitude and longitud, nos interesa solo la latitude

In [ ]:
"""from geopy.extra.rate_limiter import RateLimiter
geocode = RateLimiter(geolocator.geocode, min_delay_seconds=2)
df['location'] = df['country'].apply(geocode)

df['lat_lon_alt'] = df['location'].apply(lambda loc: tuple(loc.point) if loc else None)"""

In [ ]:
"""from geopy.exc import GeocoderTimedOut
from geopy.geocoders import Nominatim
   
# declare an empty list to store
# latitude and longitude of values 
# of city column
longitude = []
latitude = []
   
# function to find the coordinate
# of a given city 
def findGeocode(city):
       
    # try and catch is used to overcome
    # the exception thrown by geolocator
    # using geocodertimedout  
    try:
          
        # Specify the user_agent as your
        # app name it should not be none
        geolocator = Nominatim(user_agent="your_app_name")
          
        return geolocator.geocode(city)
      
    except GeocoderTimedOut:
          
        return findGeocode(city)    
  
# each value from city column
# will be fetched and sent to
# function find_geocode   
for i in (df3['country']):
      
    if findGeocode(i) != None:
           
        loc = findGeocode(i)
          
        # coordinates returned from 
        # function is stored into
        # two separate list
        latitude.append(loc.latitude)
        longitude.append(loc.longitude)
       
    # if coordinate for a city not
    # found, insert "NaN" indicating 
    # missing value 
    else:
        latitude.append(np.nan)
        longitude.append(np.nan)"""

Me descargo un data set de la longitud y latitud de cada país para poder determinar el hemisferio de cada un en mi df de shark

In [96]:
path = 'C:/Users/manya/Documents/Ironhack/Course/Project-1/data/countries_lat_lon.csv'
df_lat = pd.read_csv (path, encoding="cp1252")

In [97]:
df_lat.drop(columns=['country_code','usa_state_code','usa_state_latitude','usa_state_longitude','usa_state'], inplace=True)

In [98]:
sorted (df_lat.country.unique())

['Afghanistan',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Anguilla',
 'Antarctica',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Bouvet Island',
 'Brazil',
 'British Indian Ocean Territory',
 'British Virgin Islands',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cape Verde',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Christmas Island',
 'Cocos [Keeling] Islands',
 'Colombia',
 'Comoros',
 'Congo [DRC]',
 'Congo [Republic]',
 'Cook Islands',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 "CÃ´te d'Ivoire",
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Falkland Islands [Islas Malvinas]',
 'Faroe Islands',
 'Fiji',
 'Finland',
 'France',
 'French Guiana',
 'French Polynesia',
 'French Southern Territories',
 'Gabon',
 'Gambia',
 'Gaza Strip',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guadeloupe',
 'Guam',
 'Guatemala',
 'Guernsey',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Heard Island and McDonald Islands',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jersey',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macau',
 'Macedonia [FYROM]',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Martinique',
 'Mauritania',
 'Mauritius',
 'Mayotte',
 'Mexico',
 'Micronesia',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Myanmar [Burma]',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'Netherlands Antilles',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Niue',
 'Norfolk Island',
 'North Korea',
 'Northern Mariana Islands',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Palestinian Territories',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Pitcairn Islands',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'RÃ©union',
 'Saint Helena',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Pierre and Miquelon',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Georgia and the South Sandwich Islands',
 'South Korea',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Svalbard and Jan Mayen',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syria',
 'SÃ£o TomÃ© and PrÃ\xadncipe',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tokelau',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Tuvalu',
 'U.S. Minor Outlying Islands',
 'U.S. Virgin Islands',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Vatican City',
 'Venezuela',
 'Vietnam',
 'Wallis and Futuna',
 'Western Sahara',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [99]:
sorted(df3.country.unique())

['ADMIRALTY ISLANDS',
 'AMERICAN SAMOA',
 'ARGENTINA',
 'ARUBA',
 'AUSTRALIA',
 'AZORES',
 'BAHAMAS',
 'BANGLADESH',
 'BARBADOS',
 'BAY OF BENGAL',
 'BELIZE',
 'BERMUDA',
 'BRAZIL',
 'BRITISH ISLES',
 'BRITISH WEST INDIES',
 'CANADA',
 'CAPE VERDE',
 'CARIBBEAN SEA',
 'CHILE',
 'CHINA',
 'COLUMBIA',
 'COSTA RICA',
 'CROATIA',
 'CUBA',
 'DIEGO GARCIA',
 'DOMINICAN REPUBLIC',
 'ECUADOR',
 'EGYPT',
 'EL SALVADOR',
 'FEDERATED STATES OF MICRONESIA',
 'FIJI',
 'FRANCE',
 'FRENCH POLYNESIA',
 'GABON',
 'GRAND CAYMAN',
 'GREECE',
 'GRENADA',
 'GUAM',
 'GUYANA',
 'HAITI',
 'HONDURAS',
 'HONG KONG',
 'ICELAND',
 'INDIA',
 'INDONESIA',
 'IRAN',
 'IRAQ',
 'ISRAEL',
 'ITALY',
 'JAMAICA',
 'JAPAN',
 'JAVA',
 'JOHNSTON ISLAND',
 'KENYA',
 'KIRIBATI',
 'LIBYA',
 'MADAGASCAR',
 'MALAYSIA',
 'MALDIVE ISLANDS',
 'MALDIVES',
 'MALTA',
 'MARSHALL ISLANDS',
 'MAURITIUS',
 'MAYOTTE',
 'MEXICO',
 'MICRONESIA',
 'MONTENEGRO',
 'MOZAMBIQUE',
 'NAMIBIA',
 'NETHERLANDS ANTILLES',
 'NEW BRITAIN',
 'NEW CALEDONIA',
 'NEW GUINEA',
 'NEW ZEALAND',
 'NICARAGUA',
 'NIGERIA',
 'NORTHERN MARIANA ISLANDS',
 'NORWAY',
 'OKINAWA',
 'PALAU',
 'PALESTINIAN TERRITORIES',
 'PANAMA',
 'PAPUA NEW GUINEA',
 'PHILIPPINES',
 'PORTUGAL',
 'PUERTO RICO',
 'REUNION',
 'RUSSIA',
 'SAMOA',
 'SAN DOMINGO',
 'SAUDI ARABIA',
 'SCOTLAND',
 'SENEGAL',
 'SEYCHELLES',
 'SIERRA LEONE',
 'SINGAPORE',
 'SOLOMON ISLANDS',
 'SOMALIA',
 'SOUTH KOREA',
 'SPAIN',
 'ST HELENA, BRITISH OVERSEAS TERRITORY',
 'ST. MAARTIN',
 'ST. MARTIN',
 'SUDAN',
 'TAIWAN',
 'TANZANIA',
 'THAILAND',
 'TONGA',
 'TRINIDAD & TOBAGO',
 'TUNISIA',
 'TURKEY',
 'TURKS & CAICOS',
 'UNITED ARAB EMIRATES',
 'UNITED KINGDOM',
 'URUGUAY',
 'USA',
 'VANUATU',
 'VENEZUELA',
 'VIETNAM',
 'WESTERN SAMOA',
 'YEMEN']

In [100]:
df_lat.country = df_lat.country.apply(lambda i: i.upper())
df_lat.columns

Index(['latitude', 'longitude', 'country'], dtype='object')

In [101]:
df4 = df3.copy()

Veo que ambas listas los nombres de algunos paises no tiene el mismo formato, por lo que he identificado cuales son los que no coinciden y cambio los nombres de la df_latitude y a england le asigno united kingdom

In [102]:
df_lat.country = df_lat.country.apply (lambda i: i.replace('RÃ©UNION','REUNION'))
df_lat.country = df_lat.country.apply (lambda i: i.replace('TURKS AND CAICOS ISLANDS','TURKS & CAICOS'))
df_lat.country = df_lat.country.apply (lambda i: i.replace('UNITED STATES','USA'))

Hago un merge en para la columna country de ambos data drames

In [103]:
df4 = pd.merge(df4, df_lat[['country', 'latitude']], on='country', how='left')

In [104]:
df4.latitude.isna().sum()

56

In [105]:
df4.dropna(subset=['latitude'],inplace = True)

In [106]:
df4

,case_number,year,country,activity,fatal,month,latitude
0,2018.06.25,2018.0,USA,Paddling,N,6,37.090240
1,2018.06.18,2018.0,USA,Standing,N,6,37.090240
2,2018.06.09,2018.0,USA,Surfing,N,6,37.090240
3,2018.06.08,2018.0,AUSTRALIA,Surfing,N,6,-25.274398
4,2018.06.04,2018.0,MEXICO,Free diving,N,6,23.634501
...,...,...,...,...,...,...,...
4023,1919.01.09,1919.0,AUSTRALIA,Wading,Y,1,-25.274398
4024,1919.01.05,1919.0,AUSTRALIA,Wading (shrimping),Y,1,-25.274398
4025,1918.11.00,1918.0,USA,Fishing,Y,11,37.090240
4027,1918.09.19,1918.0,AUSTRALIA,Bathing,Y,9,-25.274398
4028,1918.03.22,1918.0,AUSTRALIA,Surfing,N,3,-25.274398

ESTACIONES METEOROLÓGICAS:

HEMISFERIO NORTE: 0<=latitude<=90
  - Primavera: 1 marzo hasta 31 mayo
  - Verano: 1 junio hasta 31 agosto
  - Otoño: 1 septiembre hasta 30 noviembre
  - Invierno: 1 diciembre hasta 28 febrero
    
HEMISFERIO SUR: -90 <= latitude <=0
   - Primavera: 1 septiembre hasta 30 noviembre
   - Verano: 1 diciembre hasta 28 febrero
   - Otoño: 1 marzo hasta 31 mayo
   - Invierno: 1 junio hasta 31 agosto

In [107]:
#Definir función para estación que se aplicará a dos columnas (latitude y month) para obtener una columna nueva estación

def funcion_estacion(row):
    estacion = 0
    lat = row['latitude']
    month = row['month']
    if lat > 0: #Hemisferio norte
        if  3 <= month <= 5:
            estacion = 'Spring'
        elif 6 <= month <= 8:
            estacion = 'Summer'
        elif 9 <= month <= 11:
            estacion = 'Autumn'
        else: 
            estacion = 'Winter'
                
    else: #Hemisferio sur
        if  3 <= month <= 5:
            estacion ='Autumn'
        elif 6 <= month <= 8:
            estacion = 'Winter'
        elif 9 <= month <= 11:
            estacion = 'Spring'
        else: 
            estacion = 'Summer'
    return estacion                                

df4['season'] = df4[['latitude','month']].apply(funcion_estacion, axis=1)                       
df4

,case_number,year,country,activity,fatal,month,latitude,season
0,2018.06.25,2018.0,USA,Paddling,N,6,37.090240,Summer
1,2018.06.18,2018.0,USA,Standing,N,6,37.090240,Summer
2,2018.06.09,2018.0,USA,Surfing,N,6,37.090240,Summer
3,2018.06.08,2018.0,AUSTRALIA,Surfing,N,6,-25.274398,Winter
4,2018.06.04,2018.0,MEXICO,Free diving,N,6,23.634501,Summer
...,...,...,...,...,...,...,...,...
4023,1919.01.09,1919.0,AUSTRALIA,Wading,Y,1,-25.274398,Summer
4024,1919.01.05,1919.0,AUSTRALIA,Wading (shrimping),Y,1,-25.274398,Summer
4025,1918.11.00,1918.0,USA,Fishing,Y,11,37.090240,Autumn
4027,1918.09.19,1918.0,AUSTRALIA,Bathing,Y,9,-25.274398,Spring
4028,1918.03.22,1918.0,AUSTRALIA,Surfing,N,3,-25.274398,Autumn

## Para la hipotesis 3: limpiar columna activity

In [108]:
df4.dropna(subset=['activity'],inplace=True)

In [109]:
df4.activity = df4.activity.apply(lambda i : i.lower().rstrip().lstrip())
df4.shape

(3748, 8)

In [110]:
sorted(df4.activity.unique())

['"riding waves on a board"',
 '"swimming vigorously"',
 '14 m prawn trawler new venture capsized  & sank in heavy seas three people in the water',
 "16' catamaran capsized previous night, occupants stayed with wreckage until morning, then attempted to swim ashore",
 '2 boats capsized',
 '2 messboys (jeppsen) & tony latona (13) were playing on the afterdeck of the danish ship grete maersk. jeppsen fell overboard, latona threw a lifebelt then jumped in to help him. ship didn’t notice they were missing',
 '25-foot cabin cruiser happy jack sank in heavy seas',
 '3 men & 2 boys picked up wearing life jackets and with inner tube',
 '3,909-ton panamanian freighter chieh lee sank in a typhoon',
 '3.3 m fishing boat sank. treveluwe & peter hodgson (wearing lifejackets) were drifting in the current',
 "40' fishing boat sank",
 "63' fishing boat sno' bay foundered",
 'a 75-ton  japanese fishing ship was sunk by  chinese nationalist gunboat, shipwrecked men were clinging to debris',
 'a father bathing his smallest daughter when the shark bumped her out of his arms and carried her into deep water',
 'abalone diving using hookah (near calving whales)',
 'abalone diving using hookah (resting on the surface)',
 'accidentally dragged overboard from the sampan holokahana into school of yellowfin tuna',
 "accidentally stood on hooked shark's tail before attempting to gut it",
 'adrift after ditching plane in the sea',
 'adrift after the sinking of the motor yacht princess dianne',
 'adrift after wave swamped engine',
 'adrift in a life jacket',
 'adrift on refugee raft',
 "adrift, hanging onto cushion, after his 17' skiff ran out of gas & capsized 3 miles from shore",
 'after rowing skiff was holed by shark, he was attempting to swim ashore',
 'air disaster',
 'air disaster - piper aircraft crashed into the sea, killing all on board',
 'air disaster. flash airlines boeing 737 crashed into the red sea',
 'air disaster: crash of air france super constellation',
 'aircaft exploded',
 'american cruiser indianapolis torpedoed & sunk by the japanese submarine i-58',
 'american freighter mormackite, bound from buenos aires for baltimore, capsized & sank in heavy seas',
 'american minesweeper uss yms-350 lost in a typhoon - swimming to shore',
 'among 31 survivors of crew from the sampan fukulya maru (which reached thursday island in rowing boat) was a man whose arm had been bitten off by shark. the sampan wrecked west of mcarthur island',
 'anti-aircraft cruiser uss atlanta (cl,-05) travelling in convoy after the battle of midway, encountered a japanese flotilla  (battle of guadalcanal) &, heavily damaged by gunfire, she was lost off lunga point. victim was swimming when bitten.',
 'attacked shark with fists',
 'attempted to return injured shark to the sea',
 'attempting to anesthetize shark',
 'attempting to attract dolphins',
 'attempting to chase shark out to sea',
 'attempting to drive shark away from sailing regatta',
 'attempting to drive shark away from the beach',
 'attempting to fix motor',
 'attempting to kill a shark with explosives',
 'attempting to lasso a shark',
 'attempting to net shark in shark channel',
 'attempting to remove fishing net from submerged object',
 'attempting to rescue a shark',
 'attempting to rescue drowning man',
 'attempting to retreive a dinghy',
 'attempting to ride a shark',
 'attempting to set underwater endurance record',
 'bathing',
 'bathing alongside ship',
 "bathing in 3' to 4' of water",
 "bathing in 5' of water",
 'bathing in knee-deep water',
 'bathing in waist-deep water',
 'bathing in water 0.9 m deep',
 'bathing or body surfing',
 'bathing or washing',
 'bathing with sister',
 'bathing/swimming',
 'batin',
 'beach seine netting',
 'bitten while cutting shark from net',
 'board sailing',
 'boat',
 'boat capsized, swimming to shore',
 'boat exploded',
 'boat stopped to repair electric pump',
 'boat, with 42 passengers onboard, capsized in rough seas',
 'boating',
 'body boarding',
 'body boarding or surfing',
 'body found on deserted luxury yacht, 38’ christine',
 'body surfing',
 'body surfing & treading water',
 'body surfing / treading water',
 'body surfing or body boarding',
 'body surfing or boogie boarding',
 'body surfing, stood up on sandbar',
 'body surfing?',
 'body-boarding',
 'bodyboarding',
 'bodysurfing',
 'boeing 757 enroute from porta plata plunged into the sea',
 'boogie boarding',
 'boogie boarding / wading',
 'boogie boarding or surfing',
 'boogie-boarding / swimming',
 'bottom fishing for lingcod & had hooked a fish',
 'british patrol boat 1250-ton hms  valerian foundered in a hurricane',
 'c47 aircraft carrying 5,000 lbs of ice ditched in the sea',
 'canoe capsized by shark',
 'canoe capsized with 10 occupants, 8 survived,  hamilton swam off to seek help',
 'canoe swamped, swimming back to canoe',
 'canoe with 3 men onboard sank',
 'canoeing',
 'capsized fishing boat',
 'casting a net',
 'catching a turtle',
 'catching sharks under government contract',
 'chasing shark out of bathing area while riding on a surf-ski',
 'checking fish traps, fell into the water',
 'chumming for sharks',
 'clamming',
 'cleaning a tank',
 'cleaning fish',
 'cleaning hull of ship',
 'closed circuit diving (submerged). diving to recover jettisoned packets of opium for police',
 'collecting aquarium specimens',
 'collecting beche-de-mer',
 'collecting crayfish',
 'collecting fish from net',
 'collecting fish in military trap when bitten by captured shark that had been shot by soldiers with garten',
 'collecting shells',
 'commercial diver (submerged or treading water)',
 'commercial spearfishing',
 'competing in spearfishing championship & towing dead fish',
 "competing in u/w endurance record, standing beside drum in 10' of water",
 'conducting a promotional film project for the gemini space program (a practice astronaut recovery)',
 'conducting research',
 'crabbing',
 'crabbing (spearing crabs)',
 'crayfishing',
 "crouching in 2' of water",
 'crouching in the water',
 'cruising',
 'dismantling cable buoys of the cable ship all america',
 'dived for a coin',
 'dived from dinghy to retrieve oar in heavy seas',
 'dived from inner-tube',
 'dived into a school of baitfish',
 'dived into sea from launch & bitten immediately',
 'dived into the water',
 'dived naked into the water on a bet',
 'dived overboard & was swimming near stern of trawler',
 'dived overboard to check propeller of us navy motor torpedo boat',
 'dived overboard to retrieve dinghy',
 'diving',
 'diving & fishing with net',
 'diving & force-feeding the shark',
 'diving (hookah)',
 'diving (shell maintenance)',
 'diving / filming',
 'diving / fishing',
 'diving / kissing the shark',
 'diving by wharf',
 'diving for abalone',
 'diving for beche-de-mer',
 'diving for beche-de-mer from lugger',
 'diving for coins thrown from ship s.s. moeraki',
 'diving for crayfish',
 'diving for pearl',
 'diving for pearl shell',
 'diving for pen shells',
 'diving for sand dollars',
 'diving for sea urchins',
 'diving for shells, saw shark circling wife near the surface, intercepted shark & it pulled him beneath the water',
 'diving for trepang',
 'diving for trochus',
 "diving for trochus  from dinghy when seized by shark 6' below the surface",
 'diving for trochus , but swimming on surface',
 'diving for trochus from lugger',
 'diving for trochus shell',
 'diving from canoe',
 'diving from dinghy for trochus shell',
 'diving from lugger',
 'diving from the lugger san, operated by the protector of the aborigines',
 'diving in aquarium display tank',
 "diving in sharkey's reef restaurant’s aquarium",
 'diving in tuna net',
 'diving into water',
 'diving off pier & treading water',
 'diving off wharf',
 "diving to untangle a crab trap line from boat's propeller",
 'diving, attempting to retrieve body of drowning victim wedged between rocks',
 'diving, but on the surface when bitten by the shark',
 'diving, feeding sharks',
 'diving, gathering shellfish',
 'diving, photographing sharks',
 "diving, repairing water main at depth of 90'",
 'diving. shark “swallowed’ his hand, so he threw his other around the shark and went “shark-back riding” for 30 yards until the shark opened its jaws',
 'diving?',
 'dog paddling or standing',
 'dragging stranded shark ashore',
 'dress diving, filming shark & pulling it through the water for a motion picture scene',
 'drift fishing',
 'dropping anchor',
 'dry shelling',
 "during a shark fishing tournament, the 18' boatem was capsized by waves, throwing 3 men into the water",
 'ejected from f3h-2 aircraft',
 'escaping from alacatraz',
 'esso bolivar was torpedoed & shelled by the german submarine u-126',
 'examining netted shark, that had been shot',
 'exercising his dog in the shallows',
 "explosion destroyed 28' boat, survivors in the water",
 'feeding a shark',
 'feeding fish',
 'feeding mullet to sharks',
 'feeding prawns to captive sharks',
 'feeding sharks',
 'feeling the shark’s teeth',
 "fell from his father's back into the water",
 'fell from wharf into water & attacked immediately',
 'fell into the water',
 'fell into water while attempting to boat a swordfish',
 'fell off banana boat',
 'fell off surf ski',
 "fell off surfboard 20' from shore",
 'fell onto dead shark',
 'fell overboard',
 'fell overboard, hanging onto lifebuoy',
 'fell overboard?',
 'ferry boat dona paz with 4431 passengers exploded & caught fire when she collided with an  oil tanker',
 'ferry boat sank',
 'ferry capsized',
 'filming',
 'filming & feeding captive sharks',
 "filming 5' blue shark",
 'filming underwater, carrying powerhead',
 'finning the shark',
 'finning the shark that bit him',
 'fishing',
 'fishing  (trawling)',
 'fishing & spearfishing',
 'fishing (big game)',
 'fishing (illegally)',
 'fishing (rod & line)',
 'fishing (trolling)  from canoe',
 'fishing / cleaning fish, dived into water to retrieve a lost fish',
 'fishing / diving',
 'fishing / standing in waist deep water',
 'fishing / wading',
 'fishing boat',
 'fishing boat capsized',
 'fishing boat swamped in a storm',
 'fishing boat swamped in storm',
 'fishing for albacore',
 'fishing for blue sharks',
 'fishing for bluefish',
 'fishing for bluefish, shark leapt into dory',
 'fishing for cod',
 'fishing for lobsters',
 'fishing for mackerel',
 'fishing for pompano',
 'fishing for prawns',
 'fishing for sharks',
 'fishing for shrimp',
 'fishing for snapper',
 'fishing for snappers & cleaning mullet. put mullet over side of boat to wash it',
 'fishing for squid',
 'fishing for squid aboard the trawler shikishima-maru when the shark leapt into the boat',
 'fishing for the shark that killed george lundberg',
 'fishing for trout',
 'fishing for tuna',
 'fishing for white sharks',
 'fishing for whiting',
 'fishing for yellowtail, seriola quinqueradiata',
 "fishing from 32' boat",
 "fishing from 34' boat when pulled overboard by hooked shark",
 'fishing from a kayak',
 'fishing from boat, kaimamla',
 'fishing from dinghy',
 'fishing from launch, fell into net with shark',
 'fishing from market fishboat sea spray',
 'fishing from prawn trawler',
 'fishing from rocks, swept out to sea by large wave & treading water',
 'fishing from surf ski',
 'fishing from surfboard',
 'fishing in alabama deep fishing rodeo',
 'fishing in knee-deep water',
 'fishing in shoulder-deep water',
 'fishing in waist-deep water',
 'fishing inside net',
 'fishing on a boat',
 'fishing schooner jose luis foundered',
 'fishing with a cast net',
 'fishing with dynamite',
 'fishing with dynamite, afterwards in water retrieving catch',
 'fishing with hand line tied to wrist & was pulled into the water',
 "fishing with hand net in 2' of water",
 'fishing, casting in the surf',
 "fishing, caught a 15' shark & took it onboard",
 'fishing, fell from rocks & disappeared',
 'fishing, fell in water & swimming strongly to shore',
 'fishing, had just speared a ulua',
 'fishing, hauling in a 5-lb snapper',
 'fishing, hauling in a set line',
 'fishing, hauling in fishing gear',
 'fishing, hauling in net, shark in net',
 'fishing, holding fish in his left hand',
 'fishing, hooked shark towed boat out to sea, storm swamped boat',
 'fishing, lifting shark out of craypot',
 'fishing, on charter boat silver dollar',
 'fishing, probably with a net',
 "fishing, removing gaff from shark's mouth",
 'fishing, removing the shark from his line',
 'fishing, setting nets',
 'fishing, shark caught in his net',
 'fishing, speared shark upset canoe & man fell in water',
 "fishing, standing in 2' of water",
 'fishing, standing in waist-deep water',
 'fishing, standing in water next to purse net',
 'fishing, standing in water washing fish',
 "fishing, stepped on hooked shark's head",
 'fishing, struck by another shark when removing shark from line',
 'fishing, tossing netted shark onboard',
 'fishing, two large sharks passed. he speared one and it bit him',
 'fishing, when line became snagged on rock & he dived into water to free it',
 'five men on makeshift raft after their 10 m fishing boat  capsized and sank in rough seas. survivors rescued after  7.5 hours in the water',
 'floating',
 'floating face-down in knee-deep water',
 'floating in inner tube',
 'floating in tube',
 'floating near boat & observing bioluminesce',
 'floating on a raft',
 'floating on a small orange raft',
 'floating on air mattress',
 'floating on an inflatable raft',
 'floating on back',
 'floating on his back',
 'floating on his back in an inner tube',
 'floating on inner tube after diving for lobster',
 'floating on inner tube raft',
 'floating on raft',
 'floating with life preserver after his boat foundered',
 'floating, after falling or jumping off the standard oil tanker frederick w. weller',
 'fly fishing',
 'flying fortress bomber aircraft went down after daytime raid on naples. he was swimming on the surface',
 'foundering of the israeli freighter mezada',
 'free diving',
 'free diving  & spearfishing (submerged)',
 'free diving & spearfishing',
 'free diving & spearfishing (ascending)',
 'free diving & spearfishing (descending)',
 'free diving (but on surface)',
 'free diving , but surfacing',
 'free diving / modeling',
 'free diving / spearfishing',
 'free diving / spearfishing (resting on the surface)',
 'free diving / spearfishing, from paddleboard & floating on the surface',
 'free diving / spearfishingat edge of reef',
 'free diving but treading water at surface',
 'free diving for abalone',
 'free diving for abalone (ascending)',
 'free diving for abalone (submerged)',
 'free diving for abalone (surfacing)',
 'free diving for abalone from zodiac (submerged)',
 'free diving for lobster',
 'free diving for scallops',
 'free diving for shell',
 'free diving for trochus',
 'free diving for trochus shell, swimming to dinghy',
 'free diving or wading back to shore',
 'free diving spearfishing',
 'free diving with goggles',
 'free diving with seals',
 'free diving, carrying speargun',
 'free diving, spearfishing',
 'free diving, working on u/w scenes for motion picture',
 'free-diving',
 'freediving',
 'freediving for abalone (at surface)',
 'freediving for seashells',
 'freediving for trochus shell (submerged)',
 'freediving, inspecting kaunakakai wharf construction after blasting & dredging',
 'freedom swimming',
 'gaffing & attempting to bring onboard a harpooned shark',
 'gathering shells',
 'german raider kormoran was sunk in an engagement with hmas sydney',
 'goggle-diving for seaweeds, but standing in water',
 'grabbed shark & threw it on deck',
 'grabbing shark for a selfie',
 'had just dived into water & was swimming',
 'hand feeding sharks',
 'hardhat diving',
 'hardhat diving from japanese pearling lugger, reiyo maru',
 'harpooned shark',
 'hauling in net with shark in it',
 'helping angler land a shark',
 'his ship, the us destroyer duncan dd 485, had been  sunk by crossfire from japanese warships. he was wearing a kapok lifejacket & using 2 aluminum powder tins for floatation',
 'holding onto an inflatable boat',
 'holding shark on leader & dangling it above the water',
 "holding shark's tail",
 'hookah diving',
 'hookah diving (submerged)',
 'hookah diving for abalone',
 'hookah diving for abalone (descending)',
 'hookah diving for abalone (submerged)',
 'hookah diving for pen shells',
 'hookah diving for sea urchins',
 'hospital ship centaur torpedoed & sunk by the japanese submarine i-177',
 'hunting crayfish',
 'hunting lobsters in 2.4 m of water',
 'hunting turtle',
 'in deep water about 100 yards from his ship',
 'in waist-deep water',
 'in water with diving seabirds',
 'inebriated, woke from sleep and fell off deck into the water',
 'inflatable boat',
 'investigating shark sighting',
 'italian liner principessa mafalda sank',
 'japanese aircraft shot down. he was one of two survivors rescued by the u.s. destroyer mugford',
 'jerked overboard while pole fishing for tuna',
 'jet skiing',
 'jumped into the water',
 'jumped off rocks into white water',
 'jumped off surfboard & landed on the shark',
 'jumped out of canoe',
 'jumping',
 'jumping in the waves',
 'kakaying',
 'kayak fishing',
 'kayak fishing for sharks',
 'kayaking',
 'kayaking / fishing',
 'kayaking or wave skiing',
 'killing  sharks',
 'killing a shark',
 'kite boarding',
 'kite surfing',
 'kiteboarding',
 'kitesurfing',
 'kneeling in the water',
 'knocked into the water',
 'known as the battle of the bismarck sea :  8 japanese destroyers guarding a convoy of 8 transports were attacked by 129 allied fighters, 207 bombers & 3 squadrons of the royal australian air force.',
 'landing hooked shark in boat',
 'launching rowboat through the surf',
 'leaving the water',
 'lifeboat capsized',
 'lifesaving drill',
 'lifesaving exhibition',
 'line fishing from lakotoi, saw shoal of fish, dived overboard, had speared second fish & surfaced for air',
 'lobster diving using scuba',
 'lobster fishing',
 'lobstering',
 'longline fishing',
 'longline fishing for sharks',
 'longling fishing',
 'lying in 2 feet of water',
 'lying on surfboard',
 "lying on the bottom of a 16' dinghy",
 "lying prone in 2' of water",
 'lying prone on surfboard',
 'measuring sharks',
 'motor launch baby princesa capsized with 22 people on board',
 'murder',
 'murdered by thai pirates',
 'net fishing, picking catch from the net',
 'night bathing',
 'night diving',
 'night surfing',
 'observing a shark feeding on a carcass of a humpback whale',
 'ocean racing',
 'on a float',
 "on board 51' fishing vessel one ki",
 'on boat, preparing to dive',
 'on expedition filming a feature movie & standing on tripod',
 'overturned skiff',
 'oyster fishing',
 'paddle boarding',
 'paddle-boarding',
 'paddle-surfing',
 'paddleskiing',
 'paddling',
 'paddling a canoe',
 'paddling a surfboat',
 'paddling on surfboard',
 'paddling on surfboard or body board',
 'paddling outrigger canoe',
 'parachuted into pacific',
 'pearl diving',
 'pearl diving from lugger',
 'pearl diving from lugger whyalla',
 'pearl diving, but standing in the water',
 'petting a shark',
 'petting captive sharks',
 'photographing fish',
 'photographing sharks underwater using scuba',
 'photographing the shark',
 'picking up shark by the tail',
 'plane crashed in water, men in life raft',
 'playing',
 'playing / jumping',
 'playing / standing',
 'playing in knee-deep water',
 'playing in surf with his child  (9)',
 'playing in the surf',
 'playing in the surf with his 2 dogs',
 'playing in the water',
 'playing on a sandbar',
 'playing soccer in the water',
 'playing with a frisbee in the shallows',
 'playing with an air mattress',
 'preparing to fish for jack-mackerel',
 'preparing to go skin diving',
 'pulling anchor',
 'pulling hooked salmon to boat',
 'pulling raft out to ride to shore',
 'pulling shark from the water',
 "pushed surfmat of a young girl out of the shark's path, drawing shark's attention to his own board",
 'pêcheur de bichiques',
 'refused permission to cross on the ferry, he was swimming across the river',

In [111]:

def extraer_gerundio(text):
    # encontrar los gerundios y solo quedarme con los que el len(gerundio) sea 1 
    gerundio = re.findall(r'\b\w+ing\b', str(text))
    if len(gerundio) == 1:
        gerundio_str = ''.join(gerundio)
        return gerundio_str

# apply the function to the "activities" column and create a new column with the extracted gerunds
df4['activity'] = df4['activity'].apply(extraer_gerundio)
#Ver los valores unicos
df4.activity.unique()



#drop nan
#df4.dropna(subset=['activity'])

array(['paddling', 'standing', 'surfing', 'diving', 'swimming', 'fishing',
       'walking', 'feeding', 'boarding', 'windsurfing', 'paddleboarding',
       'wading', 'cleaning', 'snorkeling', 'spearfishing', None,
       'bathing', 'kayaking', 'canoeing', 'skimboarding', 'touching',
       'attempting', 'kakaying', 'washing', 'grabbing', 'tagging',
       'floating', 'lobstering', 'teasing', 'photographing', 'skiing',
       'playing', 'sitting', 'bodysurfing', 'rowing', 'filming',
       'petting', 'kneeling', 'kitesurfing', 'sailing', 'kiteboarding',
       'casting', 'wrangling', 'bodyboarding', 'crayfishing', 'jumping',
       'wakeboarding', 'rescuing', 'measuring', 'sinking', 'treading',
       'removing', 'reviving', 'shrimping', 'holding', 'crouching',
       'boeing', 'killing', 'collecting', 'conducting', 'lying',
       'cruising', 'towing', 'watching', 'chumming', 'riding', 'sleeping',
       'freediving', 'stamding', 'preparing', 'finning', 'skindiving',
       'sittting', 'dropping', 'ditching', 'foundering', 'sailboarding',
       'morning', 'exercising', 'resting', 'clinging', 'drawing',
       'leaving', 'clamming', 'picking', 'pulling', 'netting',
       'lifesaving', 'splashing', 'hunting', 'throwing', 'spearing',
       'catching', 'testing', 'escaping', 'gathering', 'checking',
       'racing', 'helping', 'setting', 'during', 'trailing', 'hanging',
       'dragging', 'working', 'wearing', 'crabbing', 'retrieving',
       'landing', 'cutting', 'being', 'carrying', 'examining', 'guarding',
       'sculling', 'scooping', 'paddleskiing', 'hauling', 'launching',
       'boating', 'feeling', 'shelling', 'dismantling'], dtype=object)

In [114]:
def activity_sports (x):
#Me quedo con la actividades deportivas 
    actividades_deporte =  ['surfing','diving','paddling','swimming','fishing','boarding','windsurfing','paddleboarding','snorkeling','spearfishing','kayaking','canoeing','sailing','bodysurfing','kitesurfing','kiteboarding']    
    if x in actividades_deporte:
        valor = x
    else: 
        valor = np.nan
    return valor 

df4['activity'] = df4['activity'].apply(activity_sports)

In [122]:
df4.activity.unique()
df4 = df4.dropna(subset = 'activity')
df4.reset_index(inplace=True,drop = True)

In [127]:
df4.drop(columns ='index',inplace=True)

In [128]:
df4

,case_number,year,country,activity,fatal,month,latitude,season
0,2018.06.25,2018.0,USA,paddling,N,6,37.090240,Summer
1,2018.06.09,2018.0,USA,surfing,N,6,37.090240,Summer
2,2018.06.08,2018.0,AUSTRALIA,surfing,N,6,-25.274398,Winter
3,2018.06.04,2018.0,MEXICO,diving,N,6,23.634501,Summer
4,2018.06.03,2018.0,AUSTRALIA,surfing,N,6,-25.274398,Winter
...,...,...,...,...,...,...,...,...
2736,1919.05.29,1919.0,USA,swimming,N,5,37.090240,Spring
2737,1919.01.17,1919.0,AUSTRALIA,swimming,N,1,-25.274398,Summer
2738,1919.01.15,1919.0,NEW ZEALAND,swimming,N,1,-40.900557,Summer
2739,1918.11.00,1918.0,USA,fishing,Y,11,37.090240,Autumn
2740,1918.03.22,1918.0,AUSTRALIA,surfing,N,3,-25.274398,Autumn

In [129]:
df4.to_csv ('C:/Users/manya/Documents/Ironhack/Course/Project-1/data', index = False)

PermissionError: [Errno 13] Permission denied: 'C:/Users/manya/Documents/Ironhack/Course/Project-1/data'