## Hyphoteses

1. ¿Cuales son los 3/4/5 paises donde  hay más muertes por ataques de tiburones?
2. ¿En que estación del año hay más muertes por ataques de tiburones según estos paises?
3. ¿En estos países, cuales son las actividades en las que hay más muertos por ataques de tiburon?

## Data Cleaning

In [ ]:
#IMPORTAR LIBRERIAS 
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

In [ ]:
path = 'C:/Users/manya/Documents/Ironhack/Course/Project-1/data/attacks.csv'
df = pd.read_csv (path, encoding="cp1252")

In [ ]:
df.columns

In [ ]:
df

Columnas que seguro que borro del df ya que no son relevantes para mi análisis son: 
- Investigator or Source 
- pdf
- 'Unnamed: 22' y 'Unnamed: 23' ya que la mayoria son valores nulos 
- href
- href formula 
- Name
- Age
- Case Number.1 y Case Number.2 -- ya que ya tengo el case number.1
- Type
- Time
- Original order


Explorar con más atención injury e species por si quiero hacer alguna hipotesis más.

In [ ]:
df.drop(columns = ['Unnamed: 22', 'Unnamed: 23', 'Case Number.1', 'Case Number.2','href', 'href formula', 'pdf', 'Investigator or Source', 'Name', 'Age', 'Type', 'original order', 'Time','Year'],inplace = True)

In [ ]:
df

Hay muchos valores nulos en todas las columnas llegando a haber muchas filas con todo de valores nulos que no me aportan información. Por lo que dropeo todas las filas que tengan menos de 3 valores no nulos (7 nan) para hacer una primera limpieza.

In [ ]:
df.isna ().sum()

In [ ]:
df.dropna (thresh = 3, inplace = True)
df.sample(20)

In [ ]:
df.isna().sum()

Después de esta primera limpieza de columnas y filas, le doy el mismo formato a todas las etiquetas de las columnas

In [ ]:
df.columns = [column.rstrip().rstrip(' (Y/N)').lower().replace(' ', '_') for column in df.columns]
df.columns

### Para la hipotesis 1: columnas country y fatal

1. Dropeo los valores nulos tanto de country como fatal

In [ ]:
df.dropna(subset=['country','fatal'],inplace=True)
df

In [ ]:
df.isna().sum()

2. Limpio los valores de la columna fatal

In [ ]:
df.fatal.unique()

In [ ]:
#Cambio todos los valores por mayusculas y sin espacios
#Dropeo del data frame todos los valores que sean '2017', 'M' o 'UNKNOWN'

df.fatal = df.fatal.apply (lambda i: i.lstrip().rstrip().upper()) 
df = df.drop(df[(df['fatal'] == '2017') | (df['fatal'] == 'M') | (df['fatal'] == 'UNKNOWN')].index)

In [ ]:
df


2. Limpio columna country: 
    - Todos los países en mayuscula
    - Borrar si la string contiene OCEAN, PACIFIC, SEA, AFRICA, ASIA ya que no es un país
    - Borrar los ? de una string. Ej: RED SEA?
    - Borrar si la string contiene Between
    - UNITED ARAB EMIRATES (UAE) quedarme con UNITED ARAB EMIRATES 
    - rstrip y lstrip por si acaso

In [ ]:
df.country.unique()

In [ ]:
df['country']= df['country'].apply (lambda i: i.lstrip().rstrip().upper()) #Mismo formato para todas las strings

In [ ]:
discard = ['OCEAN','PACIFIC','MEDITERRANEAN','RED','BETWEEN','AFRICA','ASIA','/','GULF','NORTHERN ARABIAN','THE BALKANS','NORTH SEA','TASMAN','SOUTH CHINA'] #Substring que quiero identificar  
df = df[~df.country.str.contains('|'.join(discard))] #Dropeo aquellas strings que contengan discard

In [ ]:
#Borrar los ? del final de la string y el (UAE)
#df['country']= df['country'].apply (lambda i: i.removesuffix('(UAE)').removesuffix('?'))

In [ ]:
#CEYLON (SRI LANKA) transformar a SRI LANKA
df['country']= df['country'].apply (lambda i: i.split('(')[1].replace(')', '') if (i =='CEYLON (SRI LANKA)'))

In [ ]:
df.country.unique()

In [ ]:
df

## Cuando termine de limpiar las columnas de la primera hipotesis subir a github

### Para la hipotesis 3: limpiar columna activity

In [ ]:
#df.activity.isna().sum()

In [ ]:
#df.dropna(subset=['activity'],inplace=True)
#df